body{
    margin: 0;
    padding: 0;
}

.box{
    background:black;
    cursor: pointer;
  
}
.button{
    padding: 7px;
}
.btn{
    padding: 7px;
margin-right:19px ;
margin-left: 16px;
border-radius: 5px;
border-radius: 10px;
background-color: #594318;
color: white;
border-color: wheat;
}
.btn:hover{
    color: #594318;
    background-color: white;
}